* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    border: 2px solid black;
    height: 300px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    max-width: 700px;
    width: 100%;
    /* overflow: hidden; */
}

.carousel-slide {
    display: flex;
    height: 100%;
}

.img-container {
    position: relative;
    height: 100%;
    padding-left: 100%;
    width: 0;
}

.carousel-img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}